.editImageDetailsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem 1rem;
  grid-auto-flow: row;
  grid-template-areas:
    "titleLabel titleInput titleInput folderLabel folderDropdownInput . saveButton saveButton"
    "descriptionLabel descriptionInput descriptionInput visibilityLabel visibilityDowndownInput . editButton editButton"
    "dateCreatedLabel dateCreatedValue . linkLabel linkValue . deleteButton deleteButton";
}

@media (max-width: 1250px) {
  .editImageDetailsGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
      " saveButton saveButton  "
      " editButton deleteButton  "
      " editButton deleteButton "
      " titleLabel titleInput  "
      " descriptionLabel descriptionInput  "
      " folderLabel folderDropdownInput  "
      " visibilityLabel visibilityDowndownInput  "
      " dateCreatedLabel dateCreatedValue  "
      " linkLabel linkValue  ";
    width: 70vw;
  }
}

@media (max-width: 645px) {
  .editImageDetailsGrid {
    grid-template-rows: repeat(16, 0.4fr);
    grid-template-areas:
      " saveButton saveButton  "
      " saveButton saveButton  "
      " editButton editButton  "
      " editButton editButton  "
      " deleteButton deleteButton "
      " deleteButton deleteButton "
      " titleLabel titleLabel  "
      " titleInput titleInput  "
      " descriptionLabel descriptionLabel "
      " descriptionInput descriptionInput  "
      " folderLabel folderLabel "
      " folderDropdownInput folderDropdownInput "
      " visibilityLabel visibilityLabel"
      " visibilityDowndownInput visibilityDowndownInput  "
      " dateCreatedLabel dateCreatedValue "
      " linkLabel linkValue";
    width: 99%;
  }
}

.editImageDetailsGrid>* {
  display: flex;
  align-items: center;
}

.titleLabel {
  grid-area: titleLabel;
}

.descriptionLabel {
  grid-area: descriptionLabel;
}

.titleInput {
  grid-area: titleInput;
}

.descriptionInput {
  grid-area: descriptionInput;
}

.saveButton {
  grid-area: saveButton;
}

.editButton {
  grid-area: editButton;
}

.deleteButton {
  grid-area: deleteButton;
}

.folderLabel {
  grid-area: folderLabel;
}

.folderDropdownInput {
  grid-area: folderDropdownInput;
}

.visibilityLabel {
  grid-area: visibilityLabel;
}

.visibilityDowndownInput {
  grid-area: visibilityDowndownInput;
}

.dateCreatedLabel {
  grid-area: dateCreatedLabel;
}

.dateCreatedValue {
  grid-area: dateCreatedValue;
}

.linkLabel {
  grid-area: linkLabel;
}

.linkValue {
  grid-area: linkValue;
}