@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2360a5fa' fill-opacity='0.61'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

div {
  color: #eff6ff;
}

input {
  color: #1e3a8a;
}

.primaryBtn,
.secondaryBtn,
.dangerBtn,
.FIE_topbar-save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  font-size: inherit;
  line-height: 1.42;
  padding: 0.6em 1.6em;
  font-weight: normal;
  border-width: 2px;
  border-style: solid;
  background: transparent;
  border-radius: 0.375rem;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  position: relative;
  border-style: solid;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.primaryBtn:after,
.secondaryBtn:after,
.dangerBtn:after,
.FIE_topbar-save-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 1.25rem;
  transform: scaleX(0.7);
  opacity: 0;
  transition: transform 0.8s, opacity 0.3s;
}

.primaryBtn,
.FIE_topbar-save-button {
  color: white;
  background-color: #1d4ed8;
  border-color: #1d4ed8;
}

.primaryBtn:after,
.FIE_topbar-save-button:after {
  background-color: #1d4ed8;
}

.primaryBtn:hover:after,
.FIE_topbar-save-button:hover:after {
  transform: scaleX(1);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}

.primaryBtn:enabled:hover,
.FIE_topbar-save-button:enabled:hover {
  color: #e6eaef;
  background-color: #265ae9;
}

.primaryBtn:enabled:active,
.FIE_topbar-save-button:enabled:active {
  background-color: #1e3a8a;
}

.primaryBtn:disabled,
.secondaryBtn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.secondaryBtn {
  color: rgb(30 64 175);
  background-color: rgb(191 219 254);
  border-color: rgb(191 219 254);
}

.secondaryBtn:after {
  background-color: rgb(30 64 175);
}

.secondaryBtn:hover:after {
  transform: scaleX(1);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}

.secondaryBtn:hover {
  color: #e6eaef;
  background-color: rgb(30 64 175);
}

.secondaryBtn:active {
  background-color: rgb(13, 40, 128);
}

/* maybe make slightly diff secondaryBtn with less padding horizontally? */

.dangerBtn {
  color: #fb7185;
  background-color: #fae9eb;
  border-color: #fb7185;
}

.dangerBtn:after {
  background-color: #fb7185;
}

.dangerBtn:hover:after {
  transform: scaleX(1);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}

.dangerBtn:hover {
  color: #e6eaef;
  background-color: #fb7185;
}

.dangerBtn:active {
  background-color: #99062b;
  border-color: #99062b;
}

.Toastify__toast-body>div {
  color: #07bc0c;
}

.circles {
  position: relative;
  height: 100px;
  width: 100px;

  box-shadow: 0px 0px 20px 1px #0032778c;
  border-radius: 50%;

  background-color: #ffffff12;
}

.circles>div {
  animation: growAndFade 3s infinite ease-out;
  background-color: rgb(206, 231, 255);
  border-radius: 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.circles .circle1 {
  animation-delay: 1s;
}

.circles .circle2 {
  animation-delay: 2s;
}

.circles .circle3 {
  animation-delay: 3s;
}

@keyframes growAndFade {
  0% {
    opacity: 0.25;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.FIE_root {
  font-family: inherit;
}

.FIE_topbar {
  margin-top: 1rem;
}

.FIE_phone-tools-tabs-wrapper {
  gap: 2rem;
  margin-bottom: 1rem;
}

.FIE_topbar-save-wrapper {
  width: auto !important;
}

.FIE_main-container {
  flex-direction: column-reverse;
  gap: 1rem;
  padding: 12px !important;
}

.FIE_tabs {
  min-width: 100%;
  display: flex;
  gap: 1rem;
  overflow: auto !important;
  justify-content: center;
  align-items: center;
}

.FIE_editor-content {
  width: 100% !important;
}

.konvajs-content {
  margin: auto;
}