.modalGrid {
  display: grid;
  grid-template-columns: 0.1fr 0.5fr 0.2fr 0.2fr;
  grid-template-rows: 5fr 1fr 1fr 1fr 20fr 5fr 1fr 1fr 1fr;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas:
    "preview imageNumbers editButton upload"
    "slideshow slideshow filenameLabel filename"
    "slideshow slideshow lastModifiedLabel lastModified"
    "slideshow slideshow fileSizeLabel fileSize"
    "slideshow slideshow . ."
    ". . removeImageFromUploadButton removeImageFromUploadButton"
    "titleLabel titleInput folderLabel folderDropdown"
    "descriptionLabel descriptionInput visibilityLabel visibilityDropdown"
    "previousButton dragAndDropUpload dragAndDropUpload nextButton";
  width: 75vw;
  height: 90vh;
  border-radius: 0.5rem;
  padding: 2rem;
  overflow-y: scroll;
}

@media (max-width: 1300px) {
  .modalGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(16, 1fr);
    grid-template-areas:
      "upload upload upload upload"
      "upload upload upload upload"
      "preview imageNumbers imageNumbers imageNumbers"
      "slideshow slideshow slideshow slideshow"
      "filenameLabel filename filename filename"
      "lastModifiedLabel lastModified lastModified lastModified"
      "fileSizeLabel fileSize fileSize fileSize"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "titleLabel titleInput titleInput titleInput"
      "descriptionLabel descriptionInput descriptionInput descriptionInput"
      "folderLabel folderDropdown folderDropdown folderDropdown"
      "visibilityLabel visibilityDropdown visibilityDropdown visibilityDropdown"
      "dragAndDropUpload dragAndDropUpload dragAndDropUpload dragAndDropUpload"
      "previousButton previousButton nextButton nextButton"
      "previousButton previousButton nextButton nextButton";
  }

  .upload,
  .editButton,
  .removeImageFromUploadButton,
  .nextButton,
  .previousButton {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 915px) {
  .modalGrid {
    grid-template-rows: repeat(19, 1fr);
    grid-template-areas:
      "upload upload upload upload"
      "upload upload upload upload"
      "preview imageNumbers imageNumbers imageNumbers"
      "slideshow slideshow slideshow slideshow"
      "filenameLabel filename filename filename"
      "lastModifiedLabel lastModified lastModified lastModified"
      "fileSizeLabel fileSize fileSize fileSize"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "titleLabel titleInput titleInput titleInput"
      "descriptionLabel descriptionInput descriptionInput descriptionInput"
      "folderLabel folderDropdown folderDropdown folderDropdown"
      "visibilityLabel visibilityDropdown visibilityDropdown visibilityDropdown"
      "dragAndDropUpload dragAndDropUpload dragAndDropUpload dragAndDropUpload"
      "previousButton previousButton nextButton nextButton"
      "previousButton previousButton nextButton nextButton";
  }
}

/* @media (max-width: 765px) {

  .editButton,
  .removeImageFromUploadButton {
    flex-direction: column;
  }
} */

@media (max-width: 650px) {
  .modalGrid {
    grid-template-rows: repeat(22, 1fr);
    grid-template-areas:
      "upload upload upload upload"
      "upload upload upload upload"
      "preview imageNumbers imageNumbers imageNumbers"
      "slideshow slideshow slideshow slideshow"
      "filenameLabel filename filename filename"
      "lastModifiedLabel lastModified lastModified lastModified"
      "fileSizeLabel fileSize fileSize fileSize"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "editButton editButton removeImageFromUploadButton removeImageFromUploadButton"
      "titleLabel titleInput titleInput titleInput"
      "descriptionLabel descriptionInput descriptionInput descriptionInput"
      "folderLabel folderDropdown folderDropdown folderDropdown"
      "visibilityLabel visibilityDropdown visibilityDropdown visibilityDropdown"
      "dragAndDropUpload dragAndDropUpload dragAndDropUpload dragAndDropUpload"
      "previousButton previousButton nextButton nextButton"
      "previousButton previousButton nextButton nextButton";
  }

  .editButton,
  .removeImageFromUploadButton {
    flex-direction: column;
  }

  .removeImageFromUploadButton {
    font-size: 0.8rem;
  }
}

/* add these to HTML later */
.flexModalDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.preview {
  grid-area: preview;
}

.imageNumbers {
  grid-area: imageNumbers;
}

.editButton {
  grid-area: editButton;
}

.upload {
  grid-area: upload;
}

.slideshow {
  grid-area: slideshow;
}

.filenameLabel {
  grid-area: filenameLabel;
}

.filename {
  grid-area: filename;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.lastModifiedLabel {
  grid-area: lastModifiedLabel;
}

.lastModified {
  grid-area: lastModified;
}

.fileSizeLabel {
  grid-area: fileSizeLabel;
}

.fileSize {
  grid-area: fileSize;
}

.titleLabel {
  grid-area: titleLabel;
}

.titleInput {
  grid-area: titleInput;
}

.descriptionLabel {
  grid-area: descriptionLabel;
}

.descriptionInput {
  grid-area: descriptionInput;
}

.removeImageFromUploadButton {
  grid-area: removeImageFromUploadButton;
}

.folderLabel {
  grid-area: folderLabel;
}

.folderDropdown {
  grid-area: folderDropdown;
}

.visibilityLabel {
  grid-area: visibilityLabel;
}

.visibilityDropdown {
  grid-area: visibilityDropdown;
}

.previousButton {
  grid-area: previousButton;
}

.dragAndDropUpload {
  grid-area: dragAndDropUpload;
}

.nextButton {
  grid-area: nextButton;
}