/* only in this file because I couldn't figure out how to get regular .module css
   file to recognize the chained class styles */

.react-slideshow-wrapper {
  box-shadow: rgb(0 0 0 / 30%) 0px 2px 4px;
  border-radius: 1em;
}

.images-wrap>div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.durationIndicator {
  opacity: 0.3;
  cursor: pointer;
  transition: all 200ms;
}

.durationIndicator.active {
  opacity: 1;
}

.react-slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 95%;
  margin: auto;
  cursor: grab;
}

.react-slideshow-container:active {
  cursor: grabbing;
}

.react-slideshow-container .nav:last-of-type {
  right: 5px !important
}

.react-slideshow-container .nav:first-of-type {
  left: 5px !important;
  border-right: 0;
  border-top: 0;
}

.nav {
  border-radius: 50%;
  padding: .05rem;
  transition: all 150ms;
}

.nav:hover {
  background-color: rgba(255, 255, 255, 0.5);
  padding: .25rem;
}

.images-wrap>div>div>img {
  border-radius: 1em;
}

.indicators {
  gap: .25rem;
}